<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:b="http://bootsfaces.net/ui">

<h:head><title>Liste des Parcours</title></h:head>

<h:body>

<b:container layout="fluid">
<b:jumbotron>
    <h1><b:iconAwesome value="users"/> Liste des utilisateurs</h1>
    <p>Voici l'écran de gestion des différents utilisateurs</p>
    <b:button look="primary" iconAwesome="home" outcome="index" value=""/>
</b:jumbotron>
    <b:container layout="fluid">
        <b:form>
            <b:panel look="primary" title="Quiz disponibles">
                <b:dataTable value="#{pathBean.getAllPathsForUser(sessionBean.user.id)}" var="path">
                    <b:dataTableColumn order="asc" width="5%">
                        <f:facet name="header">
                            Id <b:iconAwesome value="address-book"/>
                        </f:facet>
                        #{path.id}
                    </b:dataTableColumn>
                    <b:dataTableColumn>
                        <f:facet name="header">
                            Sujet <b:iconAwesome value="book"/>
                        </f:facet>
                        #{pathBean.getSubjectName(path.questionnaireId)}
                    </b:dataTableColumn>
                    <b:dataTableColumn>
                        <f:facet name="header">
                            Questionnaire <b:iconAwesome value="book"/>
                        </f:facet>
                        #{pathBean.getQuizName(path.questionnaireId)}
                    </b:dataTableColumn>
                    <b:dataTableColumn>
                        <f:facet name="header">
                            Score <b:iconAwesome value="star"/>
                        </f:facet>
                        #{path.score}
                    </b:dataTableColumn>
                    <b:dataTableColumn>
                        <f:facet name="header">
                            Date <b:iconAwesome value="clock"/>
                        </f:facet>
                        #{path.date}
                    </b:dataTableColumn>
                    <b:dataTableColumn width="15%">
                        <f:facet name="header">
                            Action <b:iconAwesome value="edit" />
                        </f:facet>
                        <b:commandButton look="info"
                                         ajax="true"
                                         update="@form"
                                         action="#{pathBean.show(path.id)}">
                            <b:iconAwesome value="eye" />
                        </b:commandButton>
                    </b:dataTableColumn>
                </b:dataTable>
            </b:panel>
        </b:form>
    </b:container>
</b:container>
</h:body>
</html>
