<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
>

<h:head><title>Présentation</title></h:head>

<body>

<f:metadata>
    <f:viewAction action="#{sessionBean.checkConnected}" />
</f:metadata>

<b:container layout="fluid">
<b:jumbotron>


    <h1><b:iconAwesome value="cog" /> Accueil Utilisateur</h1>
    <h5><b:iconAwesome value="envelope" /> Mail : #{sessionBean.user.email}</h5>
    <b:button iconAwesome="power-off" look="danger" outcome="/connect" value=""/>

    <br/><br/>

    <h:panelGroup>
        <b:button look="info" outcome="/user/chooseQuiz" value="Choisir un Quiz"/>
        <b:button look="info" outcome="/user/allPaths" value="Voir mes résultats"/>
    </h:panelGroup>
</b:jumbotron>
</b:container>

</body>

</html>
