<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head><title>Affichage d'un Quiz</title></h:head>

<h:body>
    <f:metadata>
        <f:viewParam name="id" value="#{quizBean.quizId}" />
        <f:event type="preRenderView" listener="#{quizBean.onload()}" />
        <f:event type="preRenderView" listener="#{pathBean.setQuestionnaire(quizBean.questionnaire)}" />
        <f:event type="preRenderView" listener="#{pathBean.setUser(sessionBean.user)}" />
    </f:metadata>
    <b:container layout="fluid">
        <b:jumbotron>
            <h1>#{quizBean.getSubject()}</h1>
            <p>#{quizBean.questionnaire.nom}</p>
            <b:button look="primary" iconAwesome="home" outcome="index" value="" style="margin-bottom: 5px;"/>
            <b:container layout="fluid">
                <h:panelGrid columns="1" >

                    <b:form inline="true" autoUpdate="true">

                        <b:poll interval="1000"
                                autoUpdate="true"
                                update="time"
                                action="#{counterView.increment()}"/>
                        <h:outputText id="time"
                                      value="Temps: #{counterView.toString()}" />

                        <ui:repeat value="#{quizBean.allQuestions}" var="question">
                            <b:panel rendered="#{quizBean.allQuestions.indexOf(question) == quizBean.currentIndex}" look="info" title="Question #{quizBean.allQuestions.indexOf(question)+1}" collapsible="false">
                                <h:outputText value="#{question.enonce}" style="font-size:22px;"/>
                                <h:panelGrid columns="1" cellpadding="5" >
                                    <ui:repeat value="#{quizBean.getAnswer(question)}" var="answer">
                                        <h:panelGrid columns="2" cellpadding="5">

                                            <b:commandButton rendered="#{quizBean.allQuestions.indexOf(question) == quizBean.allQuestions.size()-1}" value="#{answer.enonce}"
                                                             action="#{pathBean.validerQuiz(counterView.getNumber())}"
                                                             look="primary"
                                                             actionListener="#{pathBean.addChoice(question, answer)}" />

                                            <b:commandButton rendered="#{quizBean.allQuestions.indexOf(question) != quizBean.allQuestions.size()-1}" value="#{answer.enonce}"
                                                             action="#{quizBean.nextIndex}"
                                                             look="primary"
                                                             actionListener="#{pathBean.addChoice(question, answer)}" />

                                        </h:panelGrid>
                                    </ui:repeat>

                                    <b:progressBar value="#{quizBean.getPercent(question)}" look="info" style="margin-top: 10px;width: 200px"/>
                                </h:panelGrid>
                            </b:panel>
                        </ui:repeat>
                    </b:form>
                </h:panelGrid>
            </b:container>
        </b:jumbotron>
    </b:container>
</h:body>
</html>
