<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head><title>Affichage d'un Quiz</title></h:head>

<h:body>
    <f:metadata>
        <f:viewParam name="id" value="#{resultBean.pathId}" />
        <f:event type="preRenderView" listener="#{resultBean.onload()}" />
    </f:metadata>

    <b:container layout="fluid">
        <b:jumbotron>
            <h1>Afficher un Quiz</h1>
            <p>Voici l'écran d'affichage d'un quiz</p>
            <b:button look="primary" iconAwesome="home" outcome="index" value="" style="margin-bottom: 5px;"/>
            <b:container layout="fluid">

                <b:form inline="true" >

                    <h:outputLabel for="score" value="Score" style="font-size:22px;"/>
                    <h:outputText id="score" value="#{resultBean.path.score}" style="font-size:22px;"/>
                    <br/>
                    <h:outputLabel for="duree" value="Duree" style="font-size:22px;"/>
                    <h:outputText id="duree" value="#{resultBean.getDuration()}" style="font-size:22px;"/>

                    <ui:repeat value="#{resultBean.allChoices}" var="choice">
                        <b:panel look="#{resultBean.isCorrect(choice.question,choice.answer)?'success':'danger'}" title="Question ?" collapsed="false">
                            <h:outputText value="#{choice.question.enonce}" style="font-size:22px;"/>
                                <ui:repeat value="#{resultBean.reponses.get(choice.question)}" var="reponse">
                                    <h:panelGrid columns="2" cellpadding="5">
                                    <b:commandButton disabled="true" look="#{resultBean.isCorrect(choice.question,reponse)?'success':(reponse.id==choice.answer.id?'danger':'')}">
                                        <b:iconAwesome value="#{resultBean.isCorrect(choice.question,reponse)?'check':(reponse.id==choice.answer.id?'times':'')}"/>
                                    </b:commandButton>
                                    <h:outputText value="#{reponse.enonce}" style="margin-left:10px"/>
                                    </h:panelGrid>
                                </ui:repeat>
                        </b:panel>
                    </ui:repeat>

                </b:form>

            </b:container>
        </b:jumbotron>
    </b:container>

</h:body>
</html>
