<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head><title>Ajouter un Quiz</title></h:head>

<h:body>

    <f:metadata>
        <f:viewParam name="id" value="#{quizBean.quizId}" />
        <f:event type="preRenderView" listener="#{quizBean.onload()}" />
    </f:metadata>

    <b:container layout="fluid">
        <b:jumbotron>
            <h1>Ajouter un Quiz</h1>
            <p>Voici l'écran d'ajout d'un quiz</p>
            <b:button look="primary" iconAwesome="home" outcome="index" value=""/>
            <b:container layout="fluid">
                <b:form inline="true" id="form" >
                    <b:modal id="amodal" title="Modal Example" styleClass="modalPseudoClass">
                        <b:inputText value="#{quizBean.newSubject.label}" label="Thème: " labelStyle="width:160px;" size="40" required="#{not empty param[theme.clientId]}"/>
                        <f:facet name="footer">
                            <b:commandButton value="Ok" look="primary" action="#{quizBean.addTheme}" ajax="true" update="@none"/>
                        </f:facet>
                    </b:modal>

                    <b:selectOneMenu value="#{quizBean.questionnaire.subjectId}"  required="true" label="Thème" labelStyle="width:160px;" ajax="true" autoUpdate="true" binding="#{theme}">
                        <f:selectItems value="#{quizBean.mapSubjects}"/>
                    </b:selectOneMenu>

                    <b:commandButton  look="success" oncomplete="$('.modalPseudoClass').modal()" ajax="true" update="@none">
                        <b:iconAwesome value="plus"/> Nouveau Thème
                    </b:commandButton>

                    <h:panelGrid columns="1" >

                        <b:inputText label="Titre:" labelStyle="width:160px;" size="40" value="#{quizBean.questionnaire.nom}" required="#{not empty param[done.clientId]}"/>

                        <b:commandButton action="#{quizBean.addQuestion()}"
                                         look="success"
                                         ajax="true"
                                         update="@form">
                            <b:iconAwesome value="plus"/> Nouvelle question
                        </b:commandButton>
                        <ui:repeat value="#{quizBean.allQuestions}" var="question">
                            <b:panel look="info">
                                <h:outputText value="Question #{quizBean.allQuestions.indexOf(question)+1}" style="font-size:22px;"/>
                                <b:commandButton action="#{quizBean.upQuest(question)}" look="info"
                                                 ajax="true" update="@form" style="margin-left:30px;" disabled="#{quizBean.allQuestions.indexOf(question)==0}">
                                    <b:iconAwesome value="chevron-circle-up"/>
                                </b:commandButton>
                                <b:commandButton action="#{quizBean.downQuest(question)}" look="info"
                                                 ajax="true" update="@form" disabled="#{quizBean.allQuestions.indexOf(question)==quizBean.allQuestions.size()-1}">
                                    <b:iconAwesome value="chevron-circle-down"/>
                                </b:commandButton>
                                <b:commandButton action="#{quizBean.removeQuestion(question)}" look="danger"
                                                 ajax="true" update="@form" disabled="#{quizBean.allQuestions.size()==1}">
                                    <b:iconAwesome value="minus"/>
                                </b:commandButton>
                                <b:inputText label="Intitulé:" labelStyle="width:100px;" size="100" value="#{question.enonce}" required="#{not empty param[done.clientId]}"/>
                                <h:panelGrid columns="1" cellpadding="5" >
                                    <h:panelGrid columns="2" cellpadding="5" >
                                        <h:outputText value="Réponses" style="font-size:20px;"/>
                                        <b:commandButton action="#{quizBean.addAnswer(question)}" look="success"
                                                         style="margin-left:30px;" ajax="true" update="@form">
                                            <b:iconAwesome value="plus"/> Nouvelle réponse
                                        </b:commandButton>
                                    </h:panelGrid>
                                    <b:selectOneMenu value="#{question.answerId}"  required="#{not empty param[done.clientId]}" label="Réponse correct" labelStyle="width:160px;" >
                                        <f:selectItems value="#{quizBean.getAnswer(question)}" var="answer" itemLabel="#{quizBean.getAnswer(question).indexOf(answer)+1}" itemValue="#{quizBean.getAnswer(question).indexOf(answer)}"/>
                                    </b:selectOneMenu>
                                    <ui:repeat value="#{quizBean.getAnswer(question)}" var="answer">
                                        <h:panelGrid columns="5" cellpadding="5">
                                            <b:inputText label="Réponse #{quizBean.getAnswer(question).indexOf(answer)+1}:" labelStyle="width:80px;"  size="90" value="#{answer.enonce}" required="#{not empty param[done.clientId]}"/>
                                            <b:commandButton action="#{quizBean.upAns(question,answer)}" look="info"
                                                             ajax="true" update="@form" disabled="#{quizBean.getAnswer(question).indexOf(answer)==0}">
                                                <b:iconAwesome value="chevron-circle-up"/>
                                            </b:commandButton>
                                            <b:commandButton action="#{quizBean.downAns(question,answer)}" look="info"
                                                             ajax="true" update="@form" disabled="#{quizBean.getAnswer(question).indexOf(answer)==quizBean.getAnswer(question).size()-1}">
                                                <b:iconAwesome value="chevron-circle-down"/>
                                            </b:commandButton>
                                            <b:commandButton action="#{quizBean.removeAnswer(question,answer)}" look="danger"
                                                             ajax="true" update="@form" disabled="#{quizBean.getAnswer(question).size()==2}">
                                                <b:iconAwesome value="minus"/>
                                            </b:commandButton>
                                        </h:panelGrid>
                                    </ui:repeat>
                                </h:panelGrid>
                            </b:panel>
                        </ui:repeat>

                        <b:commandButton id="send" value="Envoyer" action="#{quizBean.envoyerQuiz()}"
                                         look="primary" ajax="true" update="@form" binding="#{done}"/>

                        <b:growl for="send" id="growlSpecific" placementFrom="top" show-detail="true"
                                 global-only="false"
                                 show-summary="true" allow-dismiss="true"
                                 animation-enter="animated bounceInDown"
                                 animation-exit="animated flipOutX"
                                 escape="true" />
                    </h:panelGrid>
                </b:form>
            </b:container>
        </b:jumbotron>
    </b:container>
</h:body>
</html>
