<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
>

<h:head><title>Ajouter un thème</title></h:head>

<h:body>
    <b:container layout="fluid">
        <b:jumbotron>
            <h1>Ajouter un thème</h1>
            <p>Voici l'écran d'ajout d'un thème</p>
            <b:button look="primary" iconAwesome="home" outcome="index" value=""/>
            <b:container layout="fluid">
                <b:form inline="true" >

                    <b:inputText label="Nom:" labelStyle="width:160px;" value="#{subjectBean.subject.label}"/>

                        <b:commandButton value="Envoyer" action="#{subjectBean.addSubject()}"
                                         look="primary" ajax="true" update="@form" binding="#{done}"/>

                </b:form>
            </b:container>
        </b:jumbotron>
    </b:container>
</h:body>
</html>
