<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
>

<h:head><title>Ajouter un utilisateur</title></h:head>

<h:body>

<b:container layout="fluid">
    <b:jumbotron>
        <h1><b:iconAwesome value="user" regular="true"/> Ajouter un utilisateur</h1>
        <p>Voici l'écran d'ajout d'un utilisateurs</p>
        <b:button look="primary" iconAwesome="home" outcome="index" value=""/>
        <b:container layout="fluid">
            <b:form inline="true" id="form">
                <h:panelGrid columns="1" cellpadding="5">

                    <b:inputText label="Nom:" labelStyle="width:160px;" value="#{userBean.user.lastName}"/>

                    <b:inputText label="Prénom:" labelStyle="width:160px;" value="#{userBean.user.firstName}"/>

                    <b:inputSecret label="Password:" labelStyle="width:160px;" value="#{userBean.user.password}"/>

                    <b:inputText label="E-mail:" labelStyle="width:160px;" mask="email" value="#{userBean.user.email}"/>

                    <b:inputText label="Entreprise:" labelStyle="width:160px;" value="#{userBean.user.company}"/>

                    <b:inputText label="Numéro de téléphone:" labelStyle="width:160px;" mask="numeric" value="#{userBean.user.phoneNumber}"/>

                    <b:selectBooleanCheckbox value="#{userBean.user.status}" caption="Actif" label="Status" labelStyle="width:160px;" />

                    <b:selectBooleanCheckbox value="#{userBean.user.admin}" caption="Oui" label="Administrateur" labelStyle="width:160px;" />

                    <b:commandButton id="send" value="Envoyer" action="#{userBean.envoyer()}" look="primary" ajax="true" update="@form"/>

                    <b:growl for="send" id="growlUser" placementFrom="top" show-detail="true"
                             global-only="false"
                             show-summary="true" allow-dismiss="true"
                             animation-enter="animated bounceInDown"
                             animation-exit="animated flipOutX"
                             escape="true" />

                </h:panelGrid>
            </b:form>
        </b:container>
    </b:jumbotron>
</b:container>
</h:body>

</html>
