<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:b="http://bootsfaces.net/ui">
<h:head> <title>Liste des Quiz</title> </h:head>
<h:body>

    <b:container layout="fluid">
        <b:jumbotron>
            <h1><b:iconAwesome value="users"/> Liste des Quiz</h1>
            <p>Voici l'écran de gestion des différents questionnaires</p>
            <p><b:iconAwesome value="warning"/> Un quiz qui contient déjà des parcours ne peux ni être modifié, ni être supprimé</p>
            <b:button look="primary" iconAwesome="home" outcome="index" value=""/>
        </b:jumbotron>
        <b:container layout="fluid">
            <b:form>
                <b:panel look="primary" title="Quiz Actifs">
                    <b:dataTable value="#{allQuizBean.allActiveQuiz}" var="quiz">
                        <b:dataTableColumn order="asc" width="35%">
                            <f:facet name="header">
                                Sujet <b:iconAwesome value="user"/>
                            </f:facet>
                            #{allQuizBean.getSubject(quiz)}
                        </b:dataTableColumn>
                        <b:dataTableColumn>
                            <f:facet name="header">
                                Titre <b:iconAwesome value="user"/>
                            </f:facet>
                            #{quiz.nom}
                        </b:dataTableColumn>
                        <b:dataTableColumn width="15%">
                            <f:facet name="header">
                                Action <b:iconAwesome value="edit" />
                            </f:facet>
                            <b:commandButton look="info"
                                             ajax="true"
                                             update="@form"
                                             action="#{allQuizBean.show(quiz.id)}">
                                <b:iconAwesome value="eye" />
                            </b:commandButton>
                            <b:commandButton look="warning"
                                             ajax="true"
                                             update="@form"
                                             disabled="#{allQuizBean.hasPath(quiz.id)?'true':'false'}"
                                             action="#{allQuizBean.modify(quiz.id)}">
                                <b:iconAwesome value="edit" />
                            </b:commandButton>
                            <b:commandButton look="danger"
                                             ajax="true"
                                             update="@form"
                                             disabled="#{allQuizBean.hasPath(quiz.id)?'true':'false'}"
                                             action="#{allQuizBean.delete(quiz)}">
                                <b:iconAwesome value="minus" />
                            </b:commandButton>
                        </b:dataTableColumn>
                        <b:dataTableColumn width="15%">
                            <f:facet name="header">
                                Status <b:iconAwesome value="cogs" />
                            </f:facet>
                            <b:commandButton value="Désactiver ?"
                                             look="danger"
                                             ajax="true"
                                             update="@form"
                                             action="#{allQuizBean.toggleStatus(quiz)}" />
                        </b:dataTableColumn>
                    </b:dataTable>
                </b:panel>
                <b:panel look="danger" title="Quiz Inactifs">
                    <b:dataTable value="#{allQuizBean.allInactiveQuiz}" var="quiz">
                        <b:dataTableColumn order="asc" width="35%">
                            <f:facet name="header">
                                Sujet <b:iconAwesome value="user"/>
                            </f:facet>
                            #{allQuizBean.getSubject(quiz)}
                        </b:dataTableColumn>
                        <b:dataTableColumn>
                            <f:facet name="header">
                                Titre <b:iconAwesome value="user"/>
                            </f:facet>
                            #{quiz.nom}
                        </b:dataTableColumn>
                        <b:dataTableColumn width="15%">
                            <f:facet name="header">
                                Action <b:iconAwesome value="edit" />
                            </f:facet>
                            <b:commandButton look="info"
                                             ajax="true"
                                             update="@form"
                                             action="#{allQuizBean.show(quiz.id)}">
                                <b:iconAwesome value="eye" />
                            </b:commandButton>
                            <b:commandButton look="warning"
                                             ajax="true"
                                             update="@form"
                                             disabled="#{allQuizBean.hasPath(quiz.id)?'true':'false'}"
                                             action="#{allQuizBean.modify(quiz.id)}">
                                <b:iconAwesome value="edit" />
                            </b:commandButton>
                            <b:commandButton look="danger"
                                             ajax="true"
                                             update="@form"
                                             disabled="#{allQuizBean.hasPath(quiz.id)?'true':'false'}"
                                             action="#{allQuizBean.delete(quiz)}">
                                <b:iconAwesome value="minus" />
                            </b:commandButton>
                        </b:dataTableColumn>
                        <b:dataTableColumn width="15%">
                            <f:facet name="header">
                                Status <b:iconAwesome value="cogs" />
                            </f:facet>
                            <b:commandButton value="Activer ?"
                                             look="success"
                                             ajax="true"
                                             update="@form"
                                             action="#{allQuizBean.toggleStatus(quiz)}" />
                        </b:dataTableColumn>
                    </b:dataTable>
                </b:panel>
            </b:form>
        </b:container>
    </b:container>
</h:body>
</html>
