<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:b="http://bootsfaces.net/ui">

<h:head><title>Liste des utilisateurs</title></h:head>

<h:body>

<b:container layout="fluid">
<b:jumbotron>
    <h1><b:iconAwesome value="users"/> Liste des utilisateurs</h1>
    <p>Voici l'écran de gestion des différents utilisateurs</p>
    <b:button look="primary" iconAwesome="home" outcome="index" value=""/>
</b:jumbotron>
    <b:container layout="fluid">
        <b:form>
            <b:panel look="primary" title="Utilisateurs Actifs">
                <b:dataTable value="#{userBean.allActiveUsers}" var="user">
                    <b:dataTableColumn order="asc">
                        <f:facet name="header">
                            Nom <b:iconAwesome value="user"/>
                        </f:facet>
                        #{user.lastName}
                    </b:dataTableColumn>
                    <b:dataTableColumn>
                        <f:facet name="header">
                            Prénom <b:iconAwesome value="user"/>
                        </f:facet>
                        #{user.firstName}
                    </b:dataTableColumn>
                    <b:dataTableColumn width="10%">
                        <f:facet name="header">
                            Email <b:iconAwesome value="envelope"/>
                        </f:facet>
                        #{user.email}
                    </b:dataTableColumn>
                    <b:dataTableColumn>
                        <f:facet name="header">
                            Entreprise <b:iconAwesome value="building"/>
                        </f:facet>
                        #{user.company}
                    </b:dataTableColumn>
                    <b:dataTableColumn>
                        <f:facet name="header">
                            Numéro de téléphone <b:iconAwesome value="phone"/>
                        </f:facet>
                        #{user.phoneNumber}
                    </b:dataTableColumn>
                    <b:dataTableColumn>
                        <f:facet name="header">
                            Date de création <b:iconAwesome value="calendar"/>
                        </f:facet>
                        #{user.dateToFr()}
                    </b:dataTableColumn>
                    <b:dataTableColumn>
                        <f:facet name="header">
                            Administrateur <b:iconAwesome value="cogs" />
                        </f:facet>
                        <b:iconAwesome value="#{user.admin ? 'check' : 'times'}" />
                    </b:dataTableColumn>
                    <b:dataTableColumn>
                        <f:facet name="header">
                            Status <b:iconAwesome value="cogs" />
                        </f:facet>
                        <b:commandButton value="Désactiver ?"
                                         look="danger"
                                         ajax="true"
                                         update="@form"
                                         action="#{userBean.toggleStatus(user)}" />
                    </b:dataTableColumn>
                </b:dataTable>
            </b:panel>
            <b:panel look="danger" title="Utilisateurs Inactifs">
                <b:dataTable value="#{userBean.allInactiveUsers}" var="user">
                    <b:dataTableColumn order="asc">
                        <f:facet name="header">
                            Nom <b:iconAwesome value="user"/>
                        </f:facet>
                        #{user.lastName}
                    </b:dataTableColumn>
                    <b:dataTableColumn>
                        <f:facet name="header">
                            Prénom <b:iconAwesome value="user"/>
                        </f:facet>
                        #{user.firstName}
                    </b:dataTableColumn>
                    <b:dataTableColumn width="10%">
                        <f:facet name="header">
                            Email <b:iconAwesome value="envelope"/>
                        </f:facet>
                        #{user.email}
                    </b:dataTableColumn>
                    <b:dataTableColumn>
                        <f:facet name="header">
                            Entreprise <b:iconAwesome value="building"/>
                        </f:facet>
                        #{user.company}
                    </b:dataTableColumn>
                    <b:dataTableColumn>
                        <f:facet name="header">
                            Numéro de téléphone <b:iconAwesome value="phone"/>
                        </f:facet>
                        #{user.phoneNumber}
                    </b:dataTableColumn>
                    <b:dataTableColumn>
                        <f:facet name="header">
                            Date de création <b:iconAwesome value="calendar"/>
                        </f:facet>
                        #{user.dateToFr()}
                    </b:dataTableColumn>
                    <b:dataTableColumn>
                        <f:facet name="header">
                            Administrateur <b:iconAwesome value="cogs" />
                        </f:facet>
                        <b:iconAwesome value="#{user.admin ? 'check' : 'times'}" />
                    </b:dataTableColumn>
                    <b:dataTableColumn>
                        <f:facet name="header">
                            Status <b:iconAwesome value="cogs" />
                        </f:facet>
                        <b:commandButton value="Activer ?"
                                         look="success"
                                         ajax="true"
                                         update="@form"
                                         action="#{userBean.toggleStatus(user)}" />
                    </b:dataTableColumn>
                </b:dataTable>
            </b:panel>
        </b:form>
    </b:container>
</b:container>
</h:body>
</html>
