<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
>

<h:head><title>Présentation</title></h:head>

<body>

<b:container layout="fluid">
<b:jumbotron>


    <h1><b:iconAwesome value="cog" /> Accueil Administrateur</h1>
    <h5><b:iconAwesome value="envelope" /> Mail : #{sessionBean.user.email}</h5>
    <b:button iconAwesome="power-off" look="danger" outcome="/connect" value=""/>

    <br/><br/>

    <h:panelGroup>
        <h3><b:iconAwesome value="user" /> Gestion utilisateur</h3>
        <b:button look="info" outcome="/admin/addUser" value="Ajouter un utilisateur"/>
        <b:button look="info" outcome="/admin/allUsers" value="Liste des utilisateurs"/>
    </h:panelGroup>

    <h:panelGroup>
        <h3><b:iconAwesome value="book" /> Gestion quiz</h3>
        <b:button look="info" outcome="/admin/addQuiz" value="Ajouter un Quiz"/>
        <b:button look="info" outcome="/admin/allQuiz" value="Liste des Quiz"/>
    </h:panelGroup>

</b:jumbotron>
</b:container>

</body>

</html>
