<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head><title>Affichage d'un Quiz</title></h:head>

<h:body>
    <f:metadata>
        <f:viewParam name="id" value="#{quizBean.quizId}" />
        <f:event type="preRenderView" listener="#{quizBean.onload()}" />
    </f:metadata>
    <b:container layout="fluid">
        <b:jumbotron>
            <h1> <b:iconAwesome value="tasks"/> Afficher un Quiz</h1>
            <p>Voici l'écran d'affichage d'un quiz</p>
            <b:button look="primary" iconAwesome="home" outcome="index" value=""/>
            <b:container layout="fluid" style="margin-top:10px;">
                <b:form inline="true" >
                    <b:panel look="warning" style="padding-left:30px;">
                        <h:panelGrid columns="2" >
                            <h:outputLabel value="Nom" for="nom" style="font-size:24px;"/>
                            <h:outputText value="#{quizBean.questionnaire.nom}" id="nom" style="font-size:24px;"/>
                            <h:outputLabel value="Sujet" for="sujet" style="font-size:24px;"/>
                            <h:outputText value="#{quizBean.getSubject(quizBean.questionnaire)}" id="sujet" style="font-size:24px;"/>
                        </h:panelGrid>
                        <h:panelGrid columns="1" >
                            <ui:repeat value="#{quizBean.allQuestions}" var="question">
                                <b:panel look="info" title="Question #{quizBean.allQuestions.indexOf(question)+1}" collapsed="true">
                                    <h:outputText value="#{question.enonce}" style="font-size:18px;"/>
                                    <h:panelGrid columns="1" cellpadding="5" >
                                        <ui:repeat value="#{quizBean.getAnswer(question)}" var="answer">
                                            <h:panelGrid columns="2" cellpadding="5">
                                                <b:commandButton disabled="true" look="#{quizBean.isCorrect(question,answer)?'success':'danger'}"><b:iconAwesome value="#{quizBean.isCorrect(question,answer)?'check':'times'}"/> </b:commandButton>
                                                <h:outputText value="#{answer.enonce}" style="margin-left:10px"/>
                                            </h:panelGrid>
                                        </ui:repeat>
                                    </h:panelGrid>
                                </b:panel>
                            </ui:repeat>
                        </h:panelGrid>
                    </b:panel>
                    <b:panel look="warning" title="Parcours effectués">
                        <b:dataTable value="#{quizBean.getAllPathsForQuiz(quizBean.questionnaire.id)}" var="path">
                            <b:dataTableColumn order="asc" width="5%">
                                <f:facet name="header">
                                    Id <b:iconAwesome value="address-book"/>
                                </f:facet>
                                #{path.id}
                            </b:dataTableColumn>
                            <b:dataTableColumn>
                                <f:facet name="header">
                                    Utilisateur <b:iconAwesome value="user"/>
                                </f:facet>
                                #{pathBean.getUser(path.userId)}
                            </b:dataTableColumn>
                            <b:dataTableColumn>
                                <f:facet name="header">
                                    Sujet <b:iconAwesome value="book"/>
                                </f:facet>
                                #{quizBean.getSubject()}
                            </b:dataTableColumn>
                            <b:dataTableColumn>
                                <f:facet name="header">
                                    Questionnaire <b:iconAwesome value="book"/>
                                </f:facet>
                                #{quizBean.questionnaire.nom}
                            </b:dataTableColumn>
                            <b:dataTableColumn>
                                <f:facet name="header">
                                    Score <b:iconAwesome value="star"/>
                                </f:facet>
                                #{path.score}
                            </b:dataTableColumn>
                            <b:dataTableColumn>
                                <f:facet name="header">
                                    Date <b:iconAwesome value="clock"/>
                                </f:facet>
                                #{path.date}
                            </b:dataTableColumn>
                            <b:dataTableColumn width="15%">
                                <f:facet name="header">
                                    Action <b:iconAwesome value="edit" />
                                </f:facet>
                                <b:commandButton look="info"
                                                 ajax="true"
                                                 update="@form"
                                                 action="#{pathBean.show(path.id)}">
                                    <b:iconAwesome value="eye" />
                                </b:commandButton>
                            </b:dataTableColumn>
                        </b:dataTable>
                    </b:panel>
                </b:form>
            </b:container>
        </b:jumbotron>
    </b:container>
</h:body>
</html>
