<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
>

<h:head><title>Connexion</title></h:head>

<body>

<f:metadata>
    <f:viewAction action="#{sessionBean.reset}" />
</f:metadata>

<b:container layout="fluid">
    <b:jumbotron>
        <h1><b:iconAwesome value="cog" /> Connexion</h1>
        <b:form inline="true" id="form">
            <h:panelGrid columns="1" cellpadding="5">

                <b:inputText label="E-mail:" labelStyle="width:160px;" value="#{connectBean.mail}" required="true"/>

                <b:inputSecret label="Password:" labelStyle="width:160px;" value="#{connectBean.password}" required="true"/>

                <b:commandButton id="send" ajax="true" update="@form" value="Envoyer" action="#{connectBean.connect()}" look="primary" />

                <b:growl for="send" id="growlSpecific" placementFrom="top" show-detail="true"
                         global-only="false"
                         show-summary="true" allow-dismiss="true"
                         animation-enter="animated bounceInDown"
                         animation-exit="animated flipOutX"
                         escape="true" />

            </h:panelGrid>
        </b:form>
    </b:jumbotron>
</b:container>

</body>

</html>
