<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:b="http://bootsfaces.net/ui">
<h:head> <title>Liste des Quiz</title> </h:head>
<h:body>

    <b:container layout="fluid">
        <b:jumbotron>
            <h1><b:iconAwesome value="exclamation-triangle"/>Error 403</h1>
            <p>Access denied</p>
            <b:button look="primary" iconAwesome="home" outcome="#{sessionBean.user.admin?'/admin/index.jsf':'/user/index.jsf'}" value=""/>
        </b:jumbotron>
    </b:container>
</h:body>
</html>
